*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sliderEco{
    height: 600px;
    object-fit: cover;
}

.cardHeight{
    height: 600px;


}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  

@media screen and (max-width: 576px) {
    .cardHeight{
        height: 500px;
    }
  }